<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="geopolitique.id11699156.com.geopolitique">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateNationActivity"
            android:label="@string/title_activity_create_nation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateNewNationActivity"
            android:label="@string/title_activity_create_new_nation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateExistingNationActivity"
            android:label="@string/title_activity_create_existing_nation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeScreenActivity"
            android:label="@string/title_activity_home_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CabinetActivity"
            android:label="@string/title_activity_cabinet"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
